CX_USUARIO=seu_usuario
CX_SENHA=sua_senha
CX_URL=https://suaempresa.my3cx.com.br:5001
CX_LOG_PATH=C:\caminho\para\logs
DOWNLOAD_PATH=C:\caminho\para\download
RELATORIOS_PATH=C:\caminho\para\relatorios